doctype html
html(lang="en")
  head
    if pageTitle
      title= pageTitle + ' - Khantributor'
    else
      title Khantributor
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    meta(name='description', content='Community resources for Khan Academy contributors')

    block extraHead

  body(id= bodyID)
    p Khantributor - Community resources for Khan Academy contributors
